@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body,html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

html {
    scroll-behavior: smooth;
    font-family: 'Noto Sans', sans-serif;
}

header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #0D98BA;
    overflow: hidden;
    background-color: #03BB85;
    background-image: linear-gradient(to right, transparent, #003366),linear-gradient(to left, transparent, #003366)
}

#container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

#img img {
    padding-top: 26%;
    padding-left: 100%;
    width: 43px;
    height: 60px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 25px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    transition: all 0.3s;
    color: aquamarine;
}

nav a:hover {
    color: #0D98BA;
    text-decoration: wavy;
}

#prc-img {
    background-image: url(./imgs/47cd02257d.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 10px 4px 7px black ;
}

#principal {
    text-align: center;
    font-size: 20px;
    color:#0D98BA;
    padding-top: 40px;
    overflow: hidden;
    text-shadow: 0px 3px 7px black;
    font-weight: bold;
}

#principal p {
    font-size: 25px;
}

#principal img {
    padding-top: 3%;
    width: 10%;
    height: 10%;
    transition: all 0.4s;
}

#principal img:hover{
    transform: scale(0.5)
}

#sbr-img {
    background-image: url(./imgs/about.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 10px 4px 7px black ;
}

#sobre {
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
    color: cadetblue;
    font-size: 25px;
    text-shadow: 5px 5px 10px black;
}

#trailer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#trailer h2 {
    text-align: center;
}

#me-img {
    background-image: url(./imgs/me.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 10px 4px 7px black ;
}

#me {
    font-size: 120px;
    padding: 10%;
    color: white;
    font-size: 25px;
    text-shadow: 7px 7px 5px black;
}

footer {
    text-align: center;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #0D98BA;
    background-color: #03BB85;
    background-image: linear-gradient(to right, transparent, #003366),linear-gradient(to left, transparent, #003366);
}