#principal {
    text-align: center;
    height: 90%;
    background-image: url(../../gifs/heimer-fim.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-size: 25px;
    padding-top: 10%;
    padding-bottom: 0%;
    padding-left: 3%;
    padding-right: 3%;
    text-shadow: 0px 0px 4px black;

}

#principal button {
    font-size: 20px;
    text-shadow: 0px 0px 3px white;
    width: 400px;
    height: 100px;
    border-radius: 30px;
    background-color: #003366;
    background-image: linear-gradient(to right, transparent, #03BB85),linear-gradient(to left, transparent, #03BB85);
    transition: all 0.2s;
}

#principal button:hover {
    background-color: #03BB85;
}

#principal button:active {
    transform: scale(0.9);
}